%default-transition-style {
  transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

%default-animation-style {
  animation-duration: 0.3s;
  animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}
