// ----------------------------------------------------------------------------------
// This file contains all styles related to the basic typography style for copy text.
// ----------------------------------------------------------------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-heading;
  font-family: $font-primary;
  font-weight: $font-weight-bold;
}

h1 {
  font-size: $font-size-1;
  letter-spacing: $letter-spacing-h1;
}

h2 {
  font-size: $font-size-2;
  letter-spacing: $letter-spacing-h2;
}

h3 {
  font-size: $font-size-3;
  letter-spacing: $letter-spacing-h3;
}

h4 {
  font-size: $font-size-4;
  letter-spacing: $letter-spacing-h4;
}

h5 {
  font-size: $font-size-5;
  letter-spacing: $letter-spacing-h5;
}

h6 {
  font-size: $font-size-6;
  letter-spacing: $letter-spacing-h6;
}

p {
  color: $color-text;
  font-family: $font-primary;
  font-size: $font-size-p;
  font-weight: $font-weight-normal;
  letter-spacing: $letter-spacing-p;
}

small {
  color: $color-text;
  font-size: $font-size-sm;
  letter-spacing: $letter-spacing-sm;
}

a {
  font-family: $font-primary;
  font-size: $font-size-p;
  font-weight: $font-weight-light;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

span {
  color: inherit;
  display: inline-block;
  font-family: $font-primary;
  font-size: $font-size-p;
  font-weight: $font-weight-normal;
  letter-spacing: $letter-spacing-p;
}

label,
li {
  color: $color-text;
  font-family: $font-primary;
  font-size: $font-size-p;
  font-weight: $font-weight-normal;
}

textarea {
  resize: none !important;
}

input,
textarea {
  border: solid 1px $color-border;
  border-radius: 0;
  font-family: $font-primary;
  font-size: $font-size-p;
  font-weight: $font-weight-semi;
  width: 100%;

  @include placeholder {
    color: rgba($color: $color-text, $alpha: 0.5);
    font-family: $font-primary;
    font-size: $font-size-p;
  }

  &:focus {
    outline: none;
  }

  &:-webkit-autofill {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

button {
  cursor: pointer;
  font-family: $font-primary;
  font-size: $font-size-p;
  font-weight: $font-weight-bold;

  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.text {
  &-white {
    color: $color-white !important;
  }

  &-black {
    color: $color-black !important;
  }

  &-gray {
    color: $color-gray !important;
  }

  &-theme {
    color: $color-theme !important;
  }

  &-green {
    color: $color-green !important;
  }

  &-neon {
    &-blue {
      color: #448aff !important;
    }

    &-green {
      color: #00bfa5 !important;
    }

    &-red {
      color: #d50000 !important;
    }

    &-orange {
      color: #ff6d00 !important;
    }

    &-pink {
      color: #ff4081 !important;
    }

    &-purple {
      color: #a0f !important;
    }

    &-deep-purple {
      color: #6200ea !important;
    }

    &-yellow {
      color: #ffd600 !important;
    }
  }

  &-brown {
    color: $color-brown !important;
  }

  &-semi {
    font-weight: $font-weight-semi !important;
  }

  &-bold {
    font-weight: $font-weight-bold !important;
  }

  &-center {
    text-align: center !important;
  }
}
