.el-collapse {
  border: none;
  list-style: none;
  padding-left: 0;

  &-item {
    cursor: pointer;
    padding: rem(15) 0;

    &__arrow {
      line-height: inherit;
      margin-left: 4px;
    }

    &__content {
      margin-top: rem(10);
      padding-bottom: 0;
    }

    &__header {
      @extend %default-transition-style;

      background-color: transparent;
      border-bottom: none;
      // color: $color-white;
      font-family: $font-primary;
      font-size: $font-size-p;
      font-weight: $font-weight-bold;
      height: auto;
      line-height: 1.5;
      opacity: 0.8;

      &:hover,
      &:focus
      &.is-active {
        opacity: 1;
      }
    }

    &__wrap {
      background-color: transparent;
      border-bottom: none;
    }
  }
}
