// ------------------------------------------------------------------------------------------
// This file contains all styles related to the modal's basic style of the site/application.
// ------------------------------------------------------------------------------------------

.v--modal {
  background-color: $color-dark-blue;
  padding: rem(30) 0;

  & > div:not(.syllabus__card) {
    @extend .container;
  }

  &-top-right {
    z-index: 1;

    .btn {
      box-shadow: none;
      opacity: 0.6;
      padding: rem(20);

      &:hover {
        opacity: 1;
      }
    }
  }

  &-overlay {
    overflow-x: hidden;
  }
}
